.tabl{
    white-space: nowrap;
    table-layout:fixed;
    border-collapse: collapse;
    border-spacing:0;
}
.tabl td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rowe{
    min-width:32px;
    min-height:32px;
    padding:0px;
    border:0px;
}
.imag{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*{

    padding: 0px 0 0;
    border: 0px;
    vertical-align: baseline;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1ED760 !important;
}

.lbl {
    font-size: 10px;
}
